discord.py
python-dotenv
asyncpg
aiohttp
httpx
numpy
soundfile
pedalboard
faster-whisper
kokoro
piper-tts
pillow

# CUDA 12.1 Hardware Acceleration
--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchvision
torchaudio
onnxruntime-gpu