discord.py
python-dotenv
asyncpg
pynacl
yt-dlp
aiohttp
httpx
ollama
numpy
soundfile
pedalboard
faster-whisper
kokoro
piper-tts
pillow
sentence-transformers

# CUDA 12.1 Hardware Acceleration
--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchvision
torchaudio
onnxruntime-gpu